//null style
@import "nullstyle.scss";
//fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
//vars
@import "vars.scss";
//mixins
@import "mixins.scss";

body,
html {
    font-family: Montserrat;
    color: $textManeColor;
    scroll-behavior: smooth;
}
.container {
    // max-width: 1182px;
    max-width: 62.5%;
    margin: 0 auto;
}
.header {
    background: $textManeColor;
    position: relative;
    &__bgcar {
        position: absolute;
        top: 0;
        z-index: -10;
        background-image: url("/img/PC/previewCar.png");
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 1134px;
    }
    &__bgshadow {
        position: absolute;
        top: 0;
        z-index: -9;
        background-image: url("/img/PC/previewCarShadow.png");
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 100vh;
    }
    &__content {
        padding-top: 32px;
        padding-bottom: 26px;
        display: flex;
        justify-content: space-between;
        &-logo {
            display: flex;
            gap: 17px;
            align-items: flex-end;
            &-img {
                width: 144.999px;
                height: 56.029px;
                background: url("/img/PC/maneLogo.png") no-repeat;
            }
            &-text {
                @include fontSW(22px, 500);
                color: $textAdditionalColor;
                margin-bottom: -3.97px;
            }
        }
        &-info {
            display: flex;
            align-items: start;
            gap: 20px;
            &-text {
                display: flex;
                flex-direction: column;
                gap: 14px;
                &-address {
                    display: flex;
                    flex-direction: column;
                    color: $accentColor;
                    @include fontSW(12px, 500);
                    line-height: 15px;
                }
                &-nav {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 28px;
                    & a {
                        color: $textAdditionalColor;
                        @include fontSW(14px, 500);
                    }
                }
            }
            &-contacts {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 0 18px;
                border: 1px solid $accentColor;
                & p {
                    @include fontSW(12px, 500);
                    line-height: 25px;
                    color: $accentColor;
                }
            }
        }
    }
}

.preview {
    &__info {
        & h1 {
            @include fontSW(60px, 700);
            padding-top: 32px;
            margin-bottom: 30px;
        }
        & h2 {
            @include fontSW(40px, 600);
            margin-bottom: 40px;
            max-width: 706px;
            line-height: 49px;
            & > span {
                color: $accentColor;
            }
        }
        &-btn {
            padding: 17px 59px;
            @include fontSW(20px, 500);
            background: $accentColor;
            color: $textManeColor;
            // margin-bottom: 548.5px;
            margin-bottom: 50vh;
        }
    }
    &__offer {
        background: rgba(34, 34, 34, 0.54);
        backdrop-filter: blur(9.699999809265137px);
        padding: 37.3px 0px;
        position: relative;
        &-shadow {
            background: url("/img/PC/timerShadow.png");
            position: absolute;
            bottom: 0;
            height: 267px;
            width: 100%;
            z-index: -4;
        }
        &-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            & > p {
                @include fontSW(21px, 700);
                line-height: 20px;
                max-width: 255px;
            }
            &-btn {
                padding: 14px 30px;
                @include fontSW(18px, 500);
                color: $textManeColor;
                background: $accentColor;
            }
        }
    }
}

.models {
    display: flex;
    flex-direction: column;
    gap: 68px;
    margin-bottom: 95px;
    & > h1 {
        text-transform: uppercase;
        color: $textAdditionalColor;
        @include fontSW(40px, 700);
        margin-top: 95px;
        margin-bottom: 69px;
    }
    &__car {
        &-card {
            background: url("/img/PC/modelsBGJAC.png") right top no-repeat;
            // background-size: 60vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &-info {
                color: $textAdditionalColor;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                & > h1 {
                    @include fontSW(40px, 800);
                    margin-bottom: 23px;
                }
                & > h2 {
                    @include fontSW(28px, 700);
                    padding: 13px;
                    border: 1px solid $textAdditionalColor;
                    margin-bottom: 22px;
                    text-align: left;
                }
                & > h3 {
                    margin-left: 29px;
                    @include fontSW(18px, 400);
                    line-height: 16px;
                    margin-bottom: 7px;
                }
                &-price {
                    text-align: right;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 8px;
                    gap: 15px;
                    & p {
                        @include fontSW(20px, 400);
                    }
                    &-1 {
                        @include fontSW(30px, 600);
                        margin-left: 27px;
                    }
                    &-2 {
                        margin-left: 46px;
                        @include fontSW(20px, 600);
                    }
                }
                &-btn {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    @include fontSW(20px, 500);
                    &1 {
                        padding: 22px 118px;
                        color: $accentColor;
                        border: 1px solid $accentColor;
                        background: white;
                    }
                    &2 {
                        color: white;
                        padding: 22px 126px;
                        background: $accentColor;
                    }
                }
            }
        }
        &-image {
            position: relative;
            margin-top: 31px;
            width: 30vw;
            max-width: 600px;
        }
        &-details {
            margin-top: 47px;
            max-width: 62.5vw;
            background: $textAdditionalColor;
            width: 100%;
            height: 156px;
            padding: 0 32px;
        }
    }
    &__color {
        &-selector {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 22px;
        }
        &-btn,
        &-btn-arrow {
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 50%;
            margin: 0 5px;
            position: relative;
        }
        &-btn.active {
            border: 1px solid black;
        }
        &-btn.active::after {
            content: url("/img/PC/checkColor.svg");
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 16px;
        }
        &-btn-arrow {
            background: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 20px;
        }
    }
}
.swiper-container {
    width: 100%;
    height: 100px;
    color: $textAdditionalColor;
}
.swiper-slide img {
    width: 100%;
    height: auto;
}

/* КАСТОМНЫЙ СЛАЙДЕР ДЛЯ  car-details */
.custom-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.custom-slider-wrapper svg {
    width: 130px;
}
.custom-slider-wrapper {
    display: flex;
    align-items: center;
    // gap: 1vw;
    // width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}
.custom-slider-slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    @include fontSW(20px, 400);
    color: white;
    text-align: center;
}

.custom-slider-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.custom-slider-nav button {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}
//устанавливаю ограничение на ширину для адаптивности
.custom-pc-slider-slide:nth-child(1) {
    max-width: 250px;
}
.custom-pc-slider-slide:nth-child(3) {
    max-width: 225px;
}
.custom-pc-slider-slide:nth-child(5) {
    max-width: 149px;
}
.custom-pc-slider-slide:nth-child(7) {
    max-width: 141px;
}
.custom-pc-slider-slide:nth-child(9) {
    max-width: 205px;
}

/* Стили для мобильной и ПК версии */
.custom-pc-view {
    display: none;
}

.custom-mobile-view {
    display: block;
}

@media (min-width: 768px) {
    .custom-pc-view {
        display: block;
    }
    .custom-mobile-view {
        display: none;
    }

    .custom-pc-slider-slide {
        min-width: 10%;
    }
}
@media (max-width: 767px) {
    .custom-slider-slide {
        min-width: 50%; /* для двух слайдов на мобилке */
    }
}

.configurations {
    color: $textAdditionalColor;
    & > h2 {
        @include fontSW(40px, 700);
        margin-bottom: 40px;
    }
    &__filters {
        display: flex;
        justify-content: space-between;
        max-width: 673px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    &__cars {
        display: flex;
        flex-direction: column;
        gap: 60px;
        &-show {
            background: none;
            width: 160px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            gap: 10px;
            @include fontSW(18px, 400);
            line-height: 15.96px;
            text-decoration-line: underline;
            margin-bottom: 95px;
        }
        &-card {
            border-bottom: 2px solid $textAdditionalColor;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
            &-left {
                & > div {
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 155px;
                    margin-bottom: 13px;
                }
                & h1 {
                    @include fontSW(26px, 600);
                    text-transform: uppercase;
                    margin-bottom: 5px;
                }
                & h2 {
                    @include fontSW(20px, 500);
                    text-transform: uppercase;
                    color: $accentColor;
                }
                & > img {
                    margin-bottom: 12px;
                }
            }
            &-center {
                display: flex;
                flex-wrap: wrap;
                row-gap: 20px;
                width: 50%;
                justify-content: space-between;
                &-fragment {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    @include fontSW(20px, 400);
                    line-height: 24px;
                }
            }
            &-right {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                & h2 {
                    @include fontSW(25px, 600);
                    margin-bottom: 3px;
                }
                & h3 {
                    @include fontSW(17px, 600);
                    color: rgba(34, 34, 34, 0.74);
                    margin-bottom: 24px;
                }
                & > div {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 10px;
                }
                &-btn {
                    height: 58px;
                    line-height: 15.96px;
                }
                &-btn1 {
                    @include fontSW(18px, 400);
                    color: $accentColor;
                    background: none;
                    border: 1px solid $accentColor;
                }
                &-btn2 {
                    @include fontSW(18px, 500);
                    color: white;
                    background: $accentColor;
                }
            }
        }
    }
}
.configurations__cars-card.disable {
    display: none;
}

//убираю дефолтную стрелочку из select и добавляю свою
.configurations__filters-filter {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-bottom: 1px solid $textAdditionalColor;
    width: 280px;
    @include fontSW(20px, 500);
    line-height: 40px;
}

.configurations__filters-filter:not([multiple]) {
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("/img/PC/selectArrow.svg");
}

/* скроет иконку стрелки в IE */
.configurations__filters-filter::-ms-expand {
    display: none;
}

.credit {
    color: $textAdditionalColor;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    &__position {
        display: flex;
        align-items: center;
    }
    &__text {
        min-width: 580px;
        & h1 {
            @include fontSW(40px, 700);
            color: rgba(34, 34, 34, 0.9);
            margin-bottom: 17px;
        }
        & h2 {
            @include fontSW(30px, 600);
            line-height: 35px;
            color: black;
            max-width: 575px;
            margin-bottom: 20px;
        }
        &-list {
            margin-bottom: 43px;
            & > div {
                color: black;
                display: flex;
                align-items: center;
                gap: 22px;
                @include fontSW(25px, 500);
                line-height: 24px;
            }
        }
        &-btn {
            height: 60px;
            padding: 0px 157px;
            color: white;
            background: $accentColor;
            @include fontSW(18px, 500);
            line-height: 15.96px;
            margin-bottom: 30px;
        }
        & > label {
            display: flex;
            gap: 10px;
        }
    }
    &__img {
        max-width: 950px;
        // width: 100%;
        & img {
            width: 100%;
        }
    }
}

//СТИЛИЗАЦИЯ СОБСТВЕННОГО ЧЕКБОКСА

input[type="checkbox"] {
    display: none;
}
/* Контейнер для кастомного чекбокса */
.custom-checkbox {
    display: flex;
    align-items: center;
}

/* Кастомный чекбокс */
.custom-checkbox .checkmark {
    width: 20px;
    height: 15px;
    background-color: none;
    border-radius: 4px;
    border: 2px solid #aeafb2;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

/* Состояние выбранного чекбокса */
input[type="checkbox"]:checked + .checkmark {
    background-color: #67c8e2;
}

/* Добавляем галочку */
.checkmark::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

/* Отображаем галочку при выборе */
input[type="checkbox"]:checked + .checkmark::after {
    display: block;
}

.trade {
    color: $textAdditionalColor;
    &__position {
        display: flex;
        align-items: center;
        gap: 50px;
    }
    &__img {
        max-width: 977 px;
        // width: 100%;
        & img {
            width: 100%;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        & h1 {
            @include fontSW(40px, 700);
            text-transform: uppercase;
            margin-bottom: 22px;
        }
        & p {
            @include fontSW(25px, 500);
            line-height: 115%;
            margin-bottom: 46px;
            max-width: 469px;
        }
        & form {
            display: flex;
            gap: 14px;
            flex-direction: column;
        }
        & input[type="number"] {
            border: 1px solid #585858;
            background: #fff;
            color: #585858;
            line-height: 15.96px;
            @include fontSW(18px, 500);
            padding: 17px 9px;
        }
        & input[type="text"] {
            background: rgba(0, 0, 0, 0.16);
            line-height: 15.96px;
            @include fontSW(18px, 500);
            padding: 17px 9px;
            color: #717171;
        }
        & button {
            height: 60px;
            padding: 0px 164px;
            background: $accentColor;
            color: white;
            @include fontSW(18px, 500);
        }
    }
}
.trade__select {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: #585858;
    line-height: 15.96px;
    @include fontSW(18px, 500);
    padding: 17px 9px;
    border: 1px solid #585858;
}
.trade__select:not([multiple]) {
    background-repeat: no-repeat;
    background-position: center right 9px;
    background-image: url("/img/PC/tradeArrow.svg");
}
.trade__select::-ms-expand {
    display: none;
}
//убираю стрелчки у type='number'
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.contacts {
    width: 100%;
    background: url("/img/PC/contactsBG.png") no-repeat;
    background-size: cover;
    padding-top: 517px;
    &__content {
        padding: 40px 50px;
        background: $textAdditionalColor;
        display: flex;
        justify-content: space-between;
        &-left {
            & h1 {
                @include fontSW(23px, 700);
                text-transform: uppercase;

                margin-bottom: 20px;
            }
            & a {
                @include fontSW(17px, 500);
                color: white;
                line-height: 25px;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            & p {
                @include fontSW(17px, 500);

                line-height: 23px;
                max-width: 270px;
            }
        }
        &-right {
            & h1 {
                @include fontSW(23px, 700);
                text-transform: uppercase;
                margin-bottom: 7px;
            }
            & p {
                @include fontSW(17px, 500);
                line-height: 19px;
                margin-bottom: 30px;
            }
            & form {
                height: 67px;
                display: flex;
                gap: 20px;
                & input {
                    height: 100%;
                    padding: 0 20px;
                    line-height: 15.96px;
                    @include fontSW(18px, 500);
                    color: #bbb;
                    background: rgba(255, 255, 255, 0.26);
                }
                & button {
                    @include fontSW(20px, 500);
                    padding: 0 41px;
                    color: white;
                    background: $accentColor;
                    height: 67px;
                    line-height: 21.04px;
                }
            }
        }
    }
}

.footer {
    background: $textAdditionalColor;
    height: 533px;
    &__content {
        padding-top: 92px;
        display: flex;
        gap: 36px;
        &-logo {
            display: flex;
            gap: 20px;
            & p {
                margin-top: 40px;
                @include fontSW(22px, 500);
            }
        }
        &-text {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            &-other {
                & p {
                    @include fontSW(10px, 400);
                    color: #939393;
                    line-height: 15.96px;
                    text-transform: uppercase;
                    margin-bottom: 4px;
                }
                & h2 {
                    color: #bbb;
                    @include fontSW(10px, 400);
                    line-height: 15.96px;
                    margin-bottom: 16px;
                }
                & a {
                    @include fontSW(12px, 400);
                    line-height: 20.02px;
                    color: #fff;
                    text-decoration-line: underline;
                }
            }
        }
        & nav {
            margin-bottom: 24px;
        }
        & ul {
            height: 100%;
            display: flex;
            gap: 24px;
            align-items: flex-end;
            & a {
                @include fontSW(14px, 500);
                color: white;
                line-height: 24px;
            }
        }
    }
}

// popup windows
/* Основные стили для модального окна */
.modal {
    &__call {
        display: none;
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.56);
        /* Содержимое модального окна */
        &-content {
            background: url("/img/PC/modal1CarBg.png") top right no-repeat;
            margin: 15% auto; /* 15% от верха и центрировано */
            padding: 40px 50px;
            max-width: 700px;
            width: 100%; /* Может быть больше или меньше, в зависимости от размера экрана */
            position: relative;
            z-index: 11;
            overflow: hidden;
            & img {
                z-index: -11;
                position: absolute;
                left: 0;
                top: 0;
                max-width: 1104px;
                width: 100%;
            }
        }
        &-body {
            & h2 {
                @include fontSW(27px, 700);
                line-height: 35px;
                margin-bottom: 4px;
            }
            & p {
                max-width: 390px;
                @include fontSW(18px, 400);
                line-height: 18px;
                margin-bottom: 102px;
            }
            & form {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 10px;
                & input {
                    @include fontSW(14px, 400);
                    line-height: 16px;
                    padding: 11px 20px;
                    width: 100%;
                    max-width: 238px;
                    border: 1px solid #ccc;
                }
                & button {
                    line-height: 15.96px;
                    @include fontSW(12px, 700);
                    padding: 13px 45px;
                    width: 100%;
                    max-width: 238px;
                    color: white;
                    background: $accentColor;
                }
            }
        }
    }
    &__credit {
        display: none;
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.56);
        /* Содержимое модального окна */
        &-content {
            background: url("/img/PC/modal2CarBg.png") top right no-repeat;
            margin: 15% auto; /* 15% от верха и центрировано */
            padding: 22px 50px;
            max-width: 700px;
            width: 100%; /* Может быть больше или меньше, в зависимости от размера экрана */
            position: relative;
            z-index: 11;
            overflow: hidden;
            & img {
                z-index: -11;
                position: absolute;
                left: 0;
                top: 0;
                max-width: 1104px;
                width: 100%;
            }
        }
        &-body {
            & h1 {
                @include fontSW(27px, 700);
                line-height: 35px;
                margin-bottom: 10px;
                & span {
                    color: $accentColor;
                }
            }
            & ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 20px;
                & li {
                    @include fontSW(18px, 400);
                    display: flex;
                    align-items: center;
                    gap: 17px;
                }
            }
            & form {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 10px;
                & input {
                    @include fontSW(14px, 400);
                    line-height: 16px;
                    padding: 11px 20px;
                    width: 100%;
                    max-width: 238px;
                    border: 1px solid #ccc;
                }
                & button {
                    line-height: 15.96px;
                    @include fontSW(12px, 700);
                    padding: 13px 45px;
                    width: 100%;
                    max-width: 238px;
                    color: white;
                    background: $accentColor;
                }
            }
        }
    }
    &__success {
        display: none;
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.56);
        /* Содержимое модального окна */
        &-content {
            background: url("/img/PC/modal2CarBg.png") top right no-repeat;
            margin: 15% auto; /* 15% от верха и центрировано */
            padding: 22px 50px;
            max-width: 700px;
            height: 100%;
            width: 100%; /* Может быть больше или меньше, в зависимости от размера экрана */
            position: relative;
            z-index: 11;
            overflow: hidden;
            & img {
                z-index: -11;
                position: absolute;
                left: 0;
                top: 0;
                max-width: 1104px;
                width: 100%;
            }
        }
        &-body {
            & h1 {
                @include fontSW(27px, 700);
                margin-top: 80px;
                margin-bottom: 13px;
            }
            & h2 {
                @include fontSW(18px, 400);
            }
        }
    }
}

.close {
    position: absolute;
    right: 5%;
    top: 2%;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}
.invisibleOnPC {
    display: none;
}

// адаптив под телефоны+
@media (max-width: 1182px) {
    html {
        width: 110%;
    }
    .container {
        max-width: 90%;
    }
    .invisibleOnMobile {
        display: none;
    }
    .invisibleOnPC {
        display: block;
    }
    .header {
        &__bgcar {
            background-image: url("/img/mobile/previewCarBg.png");
            min-height: 50vh;
            background-position: center;
            background-size: cover;
        }
        &__bgshadow {
            background-image: url("/img/mobile/previewBgShadow.png");
            min-height: 130vh;
        }
        &__content {
            padding: 18px 0;
            &-logo {
                gap: 8px;
                &-img {
                    width: 80px;
                    height: 35px;
                    background: url("/img/mobile/maneLogo.png") no-repeat;
                }
                &-text {
                    @include fontSW(12px, 500);
                    margin-bottom: 0;
                }
            }
            &-info {
                &-mobile {
                    display: flex;
                    align-items: center;
                    gap: 5vw;
                }
            }
        }
    }
    .preview {
        &__info {
            & h1 {
                @include fontSW(35px, 600);
                padding-top: 22px;
                margin-bottom: 13px;
            }
            & h2 {
                @include fontSW(20px, 500);
                line-height: normal;
                margin-bottom: 15vh;
            }
        }
        &__offer {
            padding: 20px 0;
            &-info {
                flex-direction: column;
                gap: 10px;
                & > p {
                    @include fontSW(12px, 400);
                    line-height: 11px;
                    text-align: center;
                }
                &-btn {
                    padding: 11.5px 26px;
                    @include fontSW(16px, 500);
                }
            }
        }
    }
    .models {
        gap: 34px;
        & > h1 {
            @include fontSW(21px, 700);
            margin-top: 40px;
            margin-bottom: 34px;
        }
        &__car {
            &-card {
                position: relative;
                background: url("/img/mobile/modelsCarBg.png") 0px 120px
                    no-repeat;
                background-size: 100%;
                &-info {
                    align-items: center;
                    margin-top: 180px;
                    width: 100%;
                    & > h1 {
                        position: absolute;
                        top: 0;
                        left: 0;

                        @include fontSW(40px, 800);
                    }
                    & h2 {
                        @include fontSW(18px, 700);
                        position: absolute;
                        padding: 8px 16px;
                        top: 58px;
                        left: 0;
                    }
                    &-price {
                        & p {
                            @include fontSW(12px, 400);
                        }
                        &-1 {
                            @include fontSW(16px, 600);
                            margin-left: 44px;
                        }
                        &-2 {
                            @include fontSW(16px, 600);
                            margin-left: 18px;
                        }
                    }
                    &-btn {
                        @include fontSW(16px, 500);
                        &1 {
                            padding: 16px 74px;
                        }
                        &2 {
                            padding: 16px 80px;
                        }
                    }
                }
            }
            &-image {
                min-width: 100vw;
                padding-top: 155px;
                margin: 0 auto;
                & img {
                    margin-left: -30px;
                }
            }
            &-details {
                position: relative;
                position: absolute;
                top: 450px;
                left: 0;
                min-width: 100%;
            }
        }
        &__color {
            &-selector {
                margin-bottom: 172px;
            }
        }
    }
    .custom-slider-slide {
        @include fontSW(14px, 400);
    }

    .configurations {
        & > h2 {
            @include fontSW(21px, 700);
            margin-bottom: 20px;
        }
        &__filters {
            flex-direction: column;
            gap: 20px;
            &-filter {
                width: 100%;
            }
        }
        &__cars {
            gap: 20px;
            &-show {
            }
            &-card {
                border: none;
                flex-wrap: wrap;
                justify-content: center;
                &-left {
                    & > div {
                        max-width: 100%;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                    }
                    & > img {
                        margin-bottom: -20px;
                        max-width: 100%;
                    }
                }
                &-center {
                    width: 80%;
                    &-fragment {
                        @include fontSW(13px, 400);
                    }
                }
                &-right {
                    width: 100%;
                    align-items: center;
                    & h2 {
                        margin-bottom: 13px;
                    }
                    & h3 {
                        margin-bottom: 13px;
                    }
                }
            }
        }
    }
    .credit {
        margin-bottom: 40px;
        justify-content: center;
        &__position {
            flex-direction: column-reverse;
        }
        &__text {
            min-width: 0;
            max-width: 90%;
            margin: 0 auto;
            margin-top: 20px;
            & h1 {
                @include fontSW(21px, 700);
                margin-bottom: 10px;
            }
            & h2 {
                @include fontSW(16px, 600);
                margin-bottom: 7px;
            }
            &-list {
                margin-bottom: 25px;
                & > div {
                    @include fontSW(14px, 500);
                    gap: 14px;
                }
            }
            &-btn {
                padding: 17px 80px;
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    .trade {
        justify-content: center;
        &__position {
            flex-direction: column;
        }
        &__text {
            min-width: 0;
            max-width: 90%;
            margin: 0 auto;
            margin-top: 20px;
            & h1 {
                margin-top: -50px;
                @include fontSW(21px, 700);
                margin-bottom: 10px;
            }
            & p {
                @include fontSW(16px, 500);
                margin-bottom: 13px;
            }
            &-list {
                margin-bottom: 25px;
                & > div {
                    @include fontSW(14px, 500);
                    gap: 14px;
                }
            }
            & button {
                padding: 17px 80px;
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    .contacts {
        background: url(/img/mobile/contactsBGMap.png) no-repeat;
        background-size: 100%;
        padding-top: 283px;
        &__content {
            text-align: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 20px;
            min-width: 321px;
            min-height: 309px;
            &-left {
                & h1 {
                    @include fontSW(16px, 700);
                    margin-bottom: 9px;
                }
                & a {
                    @include fontSW(11px, 500);
                    margin-bottom: 9px;
                }
                & p {
                    @include fontSW(11px, 500);
                    margin-bottom: 48px;
                }
            }
            &-right {
                margin-top: -100px;
                & h1 {
                    @include fontSW(16px, 700);
                    margin-bottom: 9px;
                }
                & p {
                    @include fontSW(11px, 500);
                    margin-bottom: 20px;
                }
                & form {
                    max-width: 281px;
                    flex-wrap: wrap;
                    gap: 0px;
                    align-items: center;
                    justify-content: center;
                    & input {
                        width: 100%;
                        height: 49px;
                        margin-bottom: 20px;
                    }
                    & button {
                        @include fontSW(16px, 500);
                        height: 49px;
                        width: 100%;
                        padding-bottom: 30px;
                    }
                }
            }
        }
    }
    .footer {
        margin-top: 10px;
        height: 345px;
        &__content {
            flex-wrap: wrap;
            padding-top: 24px;
            gap: 24px;
            &-logo {
                gap: 13px;
                & img {
                    display: none;
                }
                & div {
                    width: 84px;
                    height: 32.307px;
                    background: url(/img/mobile/footerLogo.png) no-repeat;
                }
                & p {
                    margin-top: 20px;
                    @include fontSW(12px, 500);
                }
            }
            &-text {
                margin-top: 0;
                &-other {
                    & p {
                        max-width: 320px;
                        @include fontSW(10px, 400);
                        margin-bottom: 10px;
                    }
                    & h2 {
                        color: #939393;
                        @include fontSW(10px, 400);
                        text-transform: uppercase;
                        margin-bottom: 19px;
                    }
                }
            }
            & nav {
                margin-bottom: 0;
                margin-bottom: 23px;
            }
            & ul {
                flex-direction: column;
                align-items: start;
                gap: 0px;
                & a {
                    @include fontSW(10px, 500);
                    line-height: 24px;
                }
            }
        }
    }
    .modal {
        &__call {
            &-content {
                background: url("/img/mobile/modal1.png") no-repeat;
                padding: 30px;
                max-width: 360px;
                background-position: top 25px center;
                z-index: 11;
                & img {
                    display: none;
                }
                &1 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 372px;
                    height: 260px;
                    z-index: -1;
                    background: url(/img/mobile/modal1Shadow1.png) no-repeat;
                }
                &2 {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 372px;
                    height: 335px;
                    z-index: -1;
                    background: url(/img/mobile/modal1Shadow2.png) no-repeat;
                }
            }
            &-body {
                text-align: center;
                & h2 {
                    @include fontSW(18px, 700);
                    line-height: 21px;
                    margin-bottom: 15px;
                }
                & p {
                    max-width: 344px;
                    @include fontSW(14px, 400);
                    line-height: 15px;
                    margin-bottom: 147px;
                }
                & form {
                    width: 100%;
                    & input {
                        min-width: 100%;
                    }
                    & button {
                        min-width: 100%;
                        order: 2;
                    }
                    & .custom-checkbox {
                        order: 1;
                        margin-bottom: 30px;
                    }
                }
            }
        }
        &__credit {
            &-content {
                background: url("/img/mobile/modal2.png") no-repeat;
                padding: 30px 10px;
                max-width: 360px;
                background-position: top 1px center;
                z-index: 11;
                & img {
                    display: none;
                }
                &1 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 372px;
                    height: 260px;
                    z-index: -1;
                    background: url(/img/mobile/modal1Shadow1.png) no-repeat;
                }
                &2 {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 372px;
                    height: 335px;
                    z-index: -1;
                    background: url(/img/mobile/modal1Shadow2.png) no-repeat;
                }
            }
            &-body {
                text-align: center;
                & h1 {
                    @include fontSW(18px, 700);
                    min-width: 342px;
                    line-height: 24px;
                    margin-bottom: 15px;
                }
                & ul {
                    margin-bottom: 62px;
                    & li {
                        @include fontSW(16px, 400);
                    }
                }
                & form {
                    width: 100%;
                    & input {
                        min-width: 100%;
                    }
                    & button {
                        min-width: 100%;
                        order: 2;
                    }
                    & .custom-checkbox {
                        order: 1;
                        margin-bottom: 30px;
                    }
                }
            }
        }
        &__success {
            &-content {
                background: url("/img/mobile/modal3.png") top center no-repeat;
                padding: 30px;
                max-width: 360px;
                height: 449px;
                z-index: 11;
                & img {
                    display: none;
                }
                &2 {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 335px;
                    z-index: -1;
                    background: url(/img/mobile/modal1Shadow2.png) no-repeat;
                }
            }
            &-body {
                text-align: center;
                & h1 {
                    @include fontSW(18px, 700);
                    margin-bottom: 21px;
                    margin-top: 246px;
                }
                & h2 {
                }
            }
        }
    }
    .checkmark::after {
        left: 3px;
    }
    .custom-checkbox {
        @include fontSW(12px, 400);
    }
}
